UMAMI_URL=https://umami.henrybergstrom.com
UMAMI_USERNAME=
UMAMI_PASSWORD=
UMAMI_WEBSITE_ID=4741ad93-fdb2-4bed-8708-165f8e0bb69d
PB_ADMIN_URL=https://api.hundkrets.se
PB_ADMIN_EMAIL=
PB_ADMIN_PASSWORD=
HUNDKRETS_URL=https://hundkrets.se
TEST_EMAIL=anna.malmo@example.com
TEST_PASS=
